{include file="public/header.tpl"}


{$ss}
<i class="linkedin-square"></i>
<i class="fa fa-bed"></i>
<i class="fa fa-camera-retro"></i>

<div></div>
<i class="fa fa-spinner fa-spin"></i>
<i class="fa fa-circle-o-notch fa-spin"></i>
<i class="fa fa-refresh fa-spin"></i>
<i class="fa fa-cog fa-spin"></i>
<i class="fa fa-spinner fa-pulse"></i>


{include file="public/footer.tpl"}
